<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.suntrans.smartbuilding">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.translate">
        <activity
            android:name="net.suntrans.smartbuilding.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.translate">

        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ConSpecificActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.GlobalConActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MenuActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>